<%- include ('layout/header') -%>
<!-- hero-area start -->
<section class="hero-area">
    <div class="slider-active">
        <div class="single-slider slider-height" data-background="img/slider/slider1.jpg"></div>
        <div class="single-slider slider-height" data-background="img/slider/slider2.jpg"></div>
        <div class="single-slider slider-height" data-background="img/slider/slider3.jpg"></div>
    </div>
</section>
<!-- hero-area end -->

<!-- companies section start -->
<section class="companies-area" id="Company">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
                <div class="section-title text-center pos-rel mb-75">
                    <div class="section-text pos-rel">
                        <h1>Our Companies</h1>
                    </div>
                    <div class="section-line pos-rel">
                        <img src="img/section-title-line.png" alt="Line">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="compaines">
                <%companyData.forEach(function(company) {%>
                <div class="company">
                    <img src="<%=company.image%>" alt="<%=company.name%>" />
                    <div class="company-info">
                        <h1><%=company.name%></h1>
                        <p><%=company.description%></p>
                        <a href="<%=company.link%>">Visit Us</a>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    </div>
</section>
<!-- companies section end -->

<!-- about-area start -->
<section class="about-area pt-120 pb-90" id="About">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5">
                <div class="about-logo">
                    <img src="img/logo.png" alt="Logo">
                </div>
                <div class="about-left-side pos-rel mb-30">
                    <div class="about-front-img">
                        <img src="img/about-img.jpg" alt="About">
                    </div>
                    <div class="about-shape">
                        <img src="img/about-shape.png" alt="Shape">
                    </div>
                </div>
            </div>
            <div class="about-right-side col-xl-6 col-lg-7">
                <div class="pt-55 mb-30">
                    <div class="about-title mb-20">
                        <h1>About Us</h1>
                    </div>
                    <div class="about-text">
                        <p>Wisemed inc is a manufacturing of animal nutritional and health products.</p>
                        <p>Wisemed inc is one of the companies that belongs to Wisegroup usa Inc. the company has been in business since 2005 and incorporated on 2010 as wisemed inc(wise group usa inc ).,located in Indianapolis ,Indiana ,USA. Started with three products .only belong to veterinary health products .Then they became more than 23 products by 2010.
                        </p>
                        <p>
                        Wisemed products ingredients are approved by FDA.
                        </p>
                        <p>
                        Wisemed products ingredients are mentioned in G.R.A.S.
                        </p>
                        <p>
                        Wisemed products are produced with high quality standard.
                        </p>
                        <p>
                        Wisemed products have great and approved results.
                        </p>
                        <p>
                        Wisemed products are 100% MADE IN USA.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area end -->

<!-- services-area start -->
<section class="servcies-area gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <i class="icofont-license"></i>
                    </div>
                    <div class="service-content">
                        <h3><a href="#">Mission</a></h3>
                        <p>Our basic task is to enable people, themselves and their projects and properties to lead a healthy, good quality life. This we achieve through selling and exporting our rich range of the animal health products, human health products,agriculture products and lubricants products..</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <i class="icofont-info"></i>
                    </div>
                    <div class="service-content">
                        <h3><a href="#">VISION</a></h3>
                        <p>We are continually consolidating our position as one of the leading health products, agriculture and lubricants company worldwide. We are achieving this on our own by strengthening the long-term business connections and by establishing partnerships in the fields of development, product supply and marketing.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-box text-center mb-30">
                    <div class="service-thumb">
                        <i class="icofont-safety"></i>
                    </div>
                    <div class="service-content">
                        <h3><a href="#">VALUES</a></h3>
                        <p>Speed and flexibility Depending on our knowledge, our abilities, and our capability. We want to be the first. Not only in sales, but also in discovering the markets’ new needs. We can do this by successful partnership.Partnership and trust WISE GROUP USA helps in creating good relationships. We strive for trust-based relationships with our partners, our customers, our suppliers, our owners and everyone else who surrounds us. Only good and open relationships can help us to achieve both business success and our primary mission.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services-area end -->

<!-- cta-area start -->
<section class="cta-area pos-rel pt-115 pb-120" data-background="img/slider-bg-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 col-md-12">
                <div class="cta-text text-center">
                    <div class="section-title pos-rel mb-50">
                        <div class="section-text section-text-white pos-rel">
                            <h5>Stay healthy & strong to enjoy life</h5>
                            <h1 class="white-color">Trust Us To Be There To Help All & Make Things Well Again.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta-area end -->

<%- include ('layout/footer') -%>
