<%- include ('layout/header') -%>

<!-- hero-area start -->
<section class="breadcrumb-bg pt-200 pb-180" data-background="../../img/page/page-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9">
        <div class="page-title">
          <p class="small-text pb-15">We are here for your care.</p>
          <h1>Product Details</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero-area end -->

<!-- shop-banner-area start -->
<section class="shop-banner-area pt-120 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="product-details">
          <div class="product-details-title">
            <h1><%=productData.name%></h1>
          </div>
        </div>
        <div class="productImage mb-30">
          <img src="<%=productData.secondImage%>" alt="<%=productData.name%>">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- shop-banner-area end -->

<!-- product-desc-area end -->
<%- include ('layout/footer') -%>
