<%- include ('layout/header') -%>
<!-- hero-area start -->
<% if (productData[0].company === "Mera-Med") { %>
    <section class="breadcrumb-bg pt-200 pb-180" data-background="../img/page/mera-med.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="page-title">
                    </div>
                </div>
            </div>
        </div>
    </section>
<% } else if (productData[0].company === 'Tri-V') {%>
    <section class="breadcrumb-bg pt-200 pb-180" data-background="../img/page/tri-v.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="page-title">
                    </div>
                </div>
            </div>
        </div>
    </section>
<% } else if (productData[0].company === 'Zox') { %>
    <section class="breadcrumb-bg pt-200 pb-180" data-background="../img/page/zox.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="page-title">
                    </div>
                </div>
            </div>
        </div>
    </section>
<% } else { %>
    <section class="breadcrumb-bg pt-200 pb-180" data-background="../img/page/default.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <div class="page-title">
                        <p class="small-text pb-15">We are here for your care.</p>
                        <h1>Products Page</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% } %>
<!-- hero-area end -->

<!-- shop-banner-area start -->
<section class="shop-banner-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <%productData.forEach(function(product){%>
                            <div class="col-lg-4 col-md-6">
                                <div class="product mb-40">
                                    <div class="product__img">
                                        <a href="/products/<%=product.company%>/<%=product.slug%>"><img src="<%=product.firstImage%>" alt="<%=product.name%>"></a>
                                        <div class="product-action text-center">
                                            <a href="/products/<%=product.company%>/<%=product.slug%>"><i class="icofont-expand"></i></a>
                                        </div>
                                    </div>
                                    <div class="product__content text-center pt-30">
                                        <h4 class="pro-title"><a href="/products/<%=product.company%>/<%=product.slug%>"><%=product.name%></a></h4>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shop-banner-area end -->
<%- include ('layout/footer') -%>
