<%- include ('layout/header') -%>
  <!-- ########## START: MAIN PANEL ########## -->
  <div class="br-mainpanel">
    <div class="pd-30">
      <h4 class="tx-gray-800 mg-b-5">Welcome <%= user.name %> to the main dashboard</h4>
      <p class="mg-b-0">You can manage your website from here</p>
    </div><!-- d-flex -->

    <div class="br-pagebody mg-t-5 pd-x-30">
      <div class="row row-sm">
        <div class="col-sm-6 col-xl-6">
          <div class="bg-teal rounded overflow-hidden">
            <div class="pd-25 d-flex flex-direction-row align-items-center justify-content-flex-start">
              <i class="icofont-earth tx-60 lh-0 tx-white op-7"></i>
              <div class="mg-l-20">
                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Number of Companies</p>
                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1"><%=totalCompanies%></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-6 mg-t-20 mg-sm-t-0">
          <div class="bg-danger rounded overflow-hidden">
            <div class="pd-25 d-flex flex-direction-row align-items-center justify-content-flex-start">
              <i class="icofont-people tx-60 lh-0 tx-white op-7"></i>
              <div class="mg-l-20">
                <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Number of Products</p>
                <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1"><%=totalProducts%></p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- row -->
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->

<%- include ('layout/footer')-%>
